<body>
    <div style="width:100%;height:100%;display:flex;flex-direction:column;justify-content:center;align-items:center;overflow:hidden;">
        <div class="block row">
            <div class="col-sm-6" style="padding:0;">
                <div class="img-container">
                    <img src="~/Images/nathan-dumlao-1555015-unsplash.jpg" />
                </div>
            </div>
            <div class="col-sm-6">
                <h2 style="text-align:center;">Login</h2>
                <form class="form-dangnhap">
                    <div class="form-group">
                        <label for="#username">Username</label>
                        <input type="text" class="form-control" name="username" id="username" placeholder="Username"/>
                    </div>
                    <div class="form-group">
                        <label for="#password">Password</label>
                        <input type="password" class="form-control" name="password" id="password" placeholder="Password"/>
                    </div>
                    <button class="btn" type="button" role="button">Dang Nhap</button>
                </form>
            </div>
        </div>
    </div>
</body>