
@{
    ViewBag.Title = "Index";
}

    <div class="container">
        <h2>Dang Nhap</h2>
        <form id="form-dangnhap">
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" id="username" placeholder="Username" class="form-control" name="username"/>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" placeholder="Password" class="form-control" name="password"/>
            </div>
            <div class="form-group">
                <select class="form-control" id="chinhanh" name="chinhanh">
                    <option value="CN1">Ho Chi Minh</option>
                    <option value="CN2">Ha Noi</option>
                </select>
            </div>
            <button type="button" role="button" id="btnDangNhap">Dang Nhap</button>
        </form>
    </div>
<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/Scripts/login.js"></script>
