@{
    ViewBag.Title = "Staff";
}

<div class="main-big-container">
    <div class="btn-container">
        <div class="btn-item">
            <div class="btn-img">
                <a href="@Url.Action("Create","Customers")">
                    <img src="~/Icons/plus_cute.ico"/>
                </a>
            </div>
            <span>Them Khach Hang</span>
        </div>
        <div class="btn-item">
            <div class="btn-img">
                <a href="@Url.Action("Index_Edit","Customers")">
                    <img src="~/Icons/pencil_cute.ico" />
                </a>
            </div>
            <span>Cap Nhat Thong Tin Khach Hang</span>
        </div>
        <div class="btn-item">
            <div class="btn-img">
                <a href="@Url.Action("Index_Delete","Customers")">
                    <img src="~/Icons/cross_cute.ico" />
                </a>
            </div>
            <span>Xoa Khach Hang</span>
        </div>
    </div>
</div>

